# ========================
# OS & Système
# ========================
.DS_Store
Thumbs.db
.idea/
.vscode/
.project
.classpath

# ========================
# Frontend (Angular)
# ========================
node_modules/
dist/
.angular/
out-tsc/
coverage/
.sass-cache/
testem.log

# ========================
# Backend (Python)
# ========================
__pycache__/
*.py[cod]
venv/
.env
.venv/
env/

# ========================
# Logs & Divers
# ========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache
